@page "/search/{query?}"
@using Rithm.Models
@layout MainLayout
@inject IArticleHelper _articleHelper


@if (!_articleSearchResults.Any())
{
    <p>No results found</p>
    return;
}
@foreach (var articleSearchResult in _articleSearchResults)
{
    <div>@articleSearchResult.Article.Key</div>
}

<div class="mt-8">
    
    <div>
        @foreach (var articleSearchResult in _articleSearchResults)
        {
            var article = articleSearchResult.Article;

            <div class="mb-4">
                <div class="d-flex">
                    <div>
                        <MudLink Href="@article.Url" Typo="@Typo.h6">@article.Title</MudLink>
                        <div>
                            <MudText Typo="@Typo.subtitle2">@article.Subtitle</MudText>
                        </div>
                    </div>
                    <div class="ml-auto">
                        <MudText Typo="@Typo.caption">@article.Date.ToShortDateString()</MudText>
                        <br />
                        Search score: @articleSearchResult.Score
                    </div>
                </div>
                @foreach(var match in articleSearchResult.Matches)
                {
                    <MudText @key="match.GetHashCode()" Class="ma-2">
                        <MudHighlighter Text="@match.Phrase"
                                        HighlightedText="@Query"
                                        UntilNextBoundary="false"
                                        CaseSensitive="false"
                                        Markup="true" />
                    </MudText>
                }
                
            </div>
            <MudDivider Class="mb-4" />
        }
    </div>
</div>

<div class="d-flex justify-center my-8">
    <MudPagination Count="@_pageCount" @bind-Selected="@_pageNumber" @bind-Selected:after="@afterPageNumberChanged" />
</div>

@code {

    [Parameter]
    public string? Query{ get; set; }

    private int _pageNumber = 1;
    private int _pageSize = 5;
    private int _pageCount;

    private IEnumerable<ArticleSearchResult> _articleSearchResults = Enumerable.Empty<ArticleSearchResult>();

    protected override async Task OnParametersSetAsync()
    {
        if (!String.IsNullOrWhiteSpace(Query))
            await searchArticlesAsync();
    }

    private async Task afterPageNumberChanged()
    {
        await searchArticlesAsync();
    }

    private async Task searchArticlesAsync()
    {
        if(String.IsNullOrWhiteSpace(Query)) return;

        var filteredArticles = await _articleHelper.SearchArticlesAsync(new Models.ArticleSearchParameters { Keywords = Query }, default);

        _pageCount = (int)Math.Ceiling((double)filteredArticles.Count() / _pageSize);

        var skip = (_pageNumber - 1) * _pageSize;
        _articleSearchResults = filteredArticles
                        .Skip(skip)
                        .Take(_pageSize);

        StateHasChanged();
    }
}
