@using MudBlazor.Utilities;
@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="1" Color="@Color.Primary">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <a href="/" style="color:white !important;"><MudText Typo="Typo.h5" Class="ml-3 logo-text">Rithm <span class="logo-subtext">(docs)</span></MudText></a>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <div class="docs pa-4 pa-md-8">@Body</div>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private RithmDocsTheme _theme = new();

    public class RithmDocsTheme : MudTheme
    {
        public RithmDocsTheme()
        {
            Typography = new Typography
                {
                    Default = new Default { FontSize = "1rem" },
                    H1 = new H1 { FontSize = "2.75rem" },
                    H2 = new H2 { FontSize = "2.5rem" },
                    H3 = new H3 { FontSize = "2.25rem" },
                    H4 = new H4 { FontSize = "2rem" },
                    H5 = new H5 { FontSize = "1.75rem" },
                    H6 = new H6 { FontSize = "1.5rem" },
                    Subtitle1 = new Subtitle1 { FontSize = "1.25rem" },
                    Subtitle2 = new Subtitle2 { FontSize = "1rem" }
                };

            Palette = new Palette
            {
                    Primary = new MudColor("#68869f"),
                    Secondary = new MudColor("#9f8168"),
                    Tertiary = new MudColor("#689f9d"),
            };

            PaletteDark = new PaletteDark
                {
                    Primary = new MudColor("#78909c"),
                    Secondary = new MudColor("#9c8478"),
                    Tertiary = new MudColor("#787e9c")
                };

            Palette.PrimaryLighten = Palette.Primary.ColorLighten(.16).Value;
            Palette.SecondaryLighten = Palette.Secondary.ColorLighten(.16).Value;
            Palette.TertiaryLighten = Palette.Tertiary.ColorLighten(.16).Value;
        }
    }
}